*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
}
.container{
    height: 600px;
    width:400px;
    background-image: url("background.png");
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}
h2{
    padding-top: 15px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.sm-container{
    height: 500px;
    width: 300px;
    background-color: rgb(219, 232, 226);
    position:relative;
    left:12%;
    border-radius: 30px;
    
}
#input{
    border:none;
    height:30px;
    width:250px;
    border-radius: 5px;
    position: relative;
    left:8%;
    margin-top:15px;
    text-align: center;
    outline:none;
    background:rgb(255, 255, 255);
    font-weight: bold;

}
ul li{
    background-color: #ffffff;
    list-style: none;
    color:#333;
    height: 20px;
    border-radius: 10px;
    margin-bottom:10px ;
    padding:10px;
    position: relative;
    font-weight: bold ;
    
}
ul{
    margin-right: 36px;
}
ul .fa-check, .fa-trash{
    position:absolute;
    cursor:pointer;

}
ul .fa-check{
    right:40px;
    color:green;
}
ul .fa-trash{
    right:15px;
    color:rgb(81, 79, 79);
}
ul .checked{
    background: rgb(174, 181, 131);
    text-decoration: line-through;
}